h1 {
    background-color: brown;
}

.css {
    background-color: yellow;
}

ul {
    color: yellow;
    background-color: black;
}

li a {
    color: red;
    background-color: blue;
}

body {
    background: white url("images/background.png") no-repeat;
}